:root{
    --deep-green: #1D3C26;
    --mid-green: #578F53;
    --light-green:#EADFCE;
}

*{
    padding: 0;
    margin: 0;
}

body{
    color: var(--light-green);
}
/* ----- HEADER STYLING ----- */
header{
    text-align: center;
    background-color: var(--deep-green);
    height: 2.5em;
    width: 100%;
}

.header{
    text-align: right;
    align-items: center;
}

nav ul{
    display: inline;
}

.header nav ul a{
    text-decoration: none;
    color: var(--light-green);
    font-size: 1.25em;
    font-weight: 500;
    margin: 50px;
    transition: 0.6s;
}

nav ul a:hover{
    color: var(--mid-green);
}

nav ul li{
    list-style: none;
    display: inline;
}

/* ----- HEADLINE STYLING ----- */

#headline{
    display: flex;
    justify-content: left;
    align-items:center;
    height: 98vh;
    background: linear-gradient(180deg, rgba(207, 235, 214, 0.5), rgba(10, 39, 7, 0.4)), url(../media/images/gown-10.JPG);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.hl-content{
    width: 65%;
}

#headline .hl-content h2{
    font-size: 5em;
    color:var(--mid-green);
    text-shadow: #060a06 -1px 0 4px;
}

#headline .hl-content p{
    font-size: 1.3em;
    color:var(--light-green);
    text-shadow: #0d250f -1.2px 0 4px;
    padding-bottom: 20px;
}

#headline .hl-content a{
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
    background-color:  #1D3C26;
    color: var(--light-green);
    padding: 1.2em;
    border-radius: 5px;
    transition: 1500ms;
}

#headline .hl-content a:hover{
    background: none;
    color: #0d250f;
    border: 3px solid #1D3C26;
}
    

/* ----- FOOTER STYLING ----- */
 
#footer{
    background-color: #69ad64;
} 

#footer .holder{
    display: flex;
    padding: 40px;
}

#footer .holder h3{
    font-size: 25px;
}

#footer .holder ul{
    font-size: 20px;
}

#footer .holder ul a{
    transition: 0.5s;
    text-decoration: none;
    color: var(--deep-green);
}

#footer .holder ul a:hover{
    color: var(--light-green);
    text-shadow: 2px var(--deep-green);
}

#footer .holder ul li{
    list-style: none;
}

#footer .holder .contact ul li{
    display: inline;
    margin: 5px;
    font-size: 15px;
}





/* ----- COLLECTION HEADLINE -----  */
#designs .collections .ds-hl{
    background: linear-gradient(150deg, #538a4f, #26b38f);
    display: flex;
    align-items: center;
    height: 300px;
}

#designs  .collections .ds-hl h3{
    font-size: 2.5em;
    margin-left: 15%;
}

#designs  #gowns .ds-hl img{
    margin-left: 30%;
    height: 280px;
    width: 280px;
}

#designs  #earrings .ds-hl img{
    margin-left: 30%;
    height: 280px;
    width: 280px;
}

#designs  #hairpiece .ds-hl img{
    margin-left: 30%;
    height: 290px;
    width: 320px;
}

#designs  #veils .ds-hl img{
    margin-left: 30%;
    height: 500px;
    width: 500px;
}

/* ----- PRODUCT IMAGES DESIGN ----- */

#designs  .collections .img-container{
    margin: 40px;
    display: grid;
    justify-content: space-around;
    align-items: center;
    grid-template-columns: 40% 40%;
}

#designs  .collections img{
    display: block;
    margin: auto;
    height: 450px;
    width: 390px;
}

#designs  .collections .img-container .item{
    background-color: #26b38f;
    height: 550px;
    width: 500px;
    margin-bottom: 40px;
    padding-top: 20px;
    border-radius: 20px;
    box-shadow: -1px -1px  10px#060a06;
}

#designs  .collections .img-container .item p{
    text-align: center;
    margin: 20px;
    font-size: 18px;
    background-color: rgba(29, 60, 38, 0.2);
    padding: 8px;
    border-radius: 5px;
}

/* ----- RESPONSIVENESS ------ */

@media (max-width: 530px) {
    nav ul{
        display: none;
    }

    #headline .hl-content h2{
        font-size: 46px;
        color:var(--mid-green);
        text-shadow: #060a06 -1px 0 4px;
    }
    
    #headline .hl-content p{
        font-size: 1.1em;
        color:var(--light-green);
        text-shadow: #0d250f -1.2px 0 4px;
        padding-bottom: 20px;
    }

    #footer .holder h3{
        font-size: 15px;
    }
    
    #footer .holder ul{
        font-size: 12px;
    }

    #footer .holder .ft-cont{
        margin: 5px;
    }
    
    /* ----- designs ------ */

    #designs  .collections .img-container{
        margin: 0;
        display: grid;
        justify-content: space-around;
        align-items: center;
        grid-template-columns: 40%;
    }

    #designs  .collections img{
        height: 290px;
        width: 230px;
    }

    #designs  .collections .img-container .item{
        height: 390px;
        width: 300px;
    }

    #designs  .collections .ds-hl h3{
        font-size: 1.5em;
        margin-left: 10px;
    }

    #designs  #gowns .ds-hl img{
        display: block;
        margin: auto;
        height: 180px;
        width: 180px;
    }

    #designs  #earrings .ds-hl img{
        display: block;
        margin: auto;
        height: 180px;
        width: 180px;
    }
    
    #designs  #hairpiece .ds-hl img{
        display: block;
        margin: auto;
        height: 150px;
        width: 180px;
    }
    
    #designs  #veils .ds-hl img{
        display: block;
        margin: auto;
        height: 200px;
        width: 200px;
    }
}

